
<div ng-app="App">
    <div ng-controller="AppController as Applicacion">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Clients
                    </a>
                    <button class="btn btn-primary navbar-btn " ng-click="Applicacion.Nuevo()">Nuevo</button>
                </div>
            </div>
        </nav>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail" style="padding:15px;overflow:auto;">
                    <table class="table table-condensed table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Business Id</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Added</th>
                                <th scope="col">Star Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">State</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Applicacion.Listado">
                                <td scope="col">{{item.BusinessId}}</td>
                                <td scope="col">{{item.Email}}</td>
                                <td scope="col">{{item.Phone}}</td>
                                <td scope="col">{{ Applicacion.format(item.DataAdded) }}</td>
                                <td scope="col">{{ Applicacion.format(item.StartDate) }}</td>
                                <td scope="col">{{ Applicacion.format(item.EndDate)   }}</td>
                                <td scope="col">{{item.State?'Yes':'No'}}</td>
                                <td scope="col">
                                    <button class="btn btn-block btn-success" ng-click="Applicacion.Editar(item)">Edit</button>
                                    <button class="btn btn-block btn-danger" ng-click="Applicacion.Eliminar(item.SharedKey)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Formulario</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>BusinessId</label>
                                <input ng-model="Applicacion.Current.BusinessId" type="text" class="form-control" placeholder="BusinessId">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input ng-model="Applicacion.Current.Email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input ng-model="Applicacion.Current.Phone" type="text" class="form-control" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <label>Start Date</label>
                                <input ng-model="Applicacion.Current.StartDate" type="date" class="form-control" placeholder="StartDate">
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input ng-model="Applicacion.Current.EndDate" type="date" class="form-control" placeholder="EndDate">
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="checkbox" ng-model="Applicacion.Current.State">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="Applicacion.Guardar()">Guardar</button>
                            <button class="btn btn-default" ng-click="Applicacion.Cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script>
            angular.module('App', [])
                .controller('AppController', function ($scope) {

                    var Applicacion = this;

                    const Routes = {
                        base: "http://localhost:40541/Home",
                        Save: "_hisgdbai",
                        Update: "_hbaisgdi",
                        Delete: "_hb111gdi",
                        Search: "_sgh54ii",
                        SearchOne: "_dihbaisg"
                    }

                    Applicacion.ObtenerTodos = function () {
                        $.ajax({
                            method: "POST",
                            url: Routes.base + "\\" + Routes.Search,
                            data: {}
                        })
                            .done(function (result) {
                                if (result.state) {
                                    Applicacion.Listado = result.Json;
                                } else {
                                    alert(result.Message);
                                }
                                Applicacion.Current = Object.assign({}, Current);
                                $('#myModal').modal('hide');
                                $scope.$apply();
                            });
                    };

                    Applicacion.format = function (date) {
                        date = new Date(parseInt(date.substr(6, date.length - 8)));
                        var months = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                        ];
                        return date.getDay() + "  " + months[date.getMonth()] + "  " + date.getFullYear();
                    }

                    Applicacion.Listado = [];

                    var Current = {
                        SharedKey: "",
                        BusinessId: "",
                        Email: "",
                        Phone: "",
                        StartDate: new Date(),
                        EndDate: new Date(),
                        State: false,
                    };

                    Applicacion.Current = Object.assign({}, Current);

                    Applicacion.Nuevo = function () {
                        $('#myModal').modal('show');
                    }

                    Applicacion.Guardar = function () {
                        $.ajax({
                            method: "POST",
                            url: Routes.base + "\\" + (Applicacion.Current.SharedKey == "" ? Routes.Save : Routes.Update),
                            data: { Client: Applicacion.Current }
                        }).done(function (result) {
                            if (result.state) {
                                Applicacion.ObtenerTodos();
                            } else {
                                alert(result.Message);
                            }
                        });
                    }

                    Applicacion.Editar = function (Client) {
                        Applicacion.Nuevo();
                        Applicacion.Current = Object.assign({}, Client);
                    }

                    Applicacion.Cancelar = function (Client) {
                        Applicacion.Current = Object.assign({}, Current);
                        $('#myModal').modal('hide');
                    }

                    Applicacion.Eliminar = function (SharedKey) {
                        if (confirm("Delete?")) {
                            $.ajax({
                                method: "POST",
                                url: Routes.base + "\\" + Routes.Delete,
                                data: { SharedKey: SharedKey }
                            }).done(function (result) {
                                if (result.state) {
                                    Applicacion.ObtenerTodos();
                                } else {
                                    alert(result.Message);
                                }
                            });
                        }
                    }

                    Applicacion.ObtenerTodos();
                });
        </script>
    }
</div>